### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup

import numpy as np
import pandas as pd

# File to Load (Remember to Change These)
pymoli_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pymoli_df = pd.read_csv(pymoli_path)
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(pymoli_df["SN"].unique())
total_players_df = pd.DataFrame({
    "Player Count": [total_players]
})

total_players_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(pymoli_df['Item ID'].unique())

average_price = pymoli_df['Price'].mean()

total_purchases = pymoli_df['Item Name'].count()

total_revenue = pymoli_df['Price'].sum()

purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price],
                                   "Total Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue],
                                
})

purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:.2f}".format)
purchasing_analysis = purchasing_analysis[["Number of Unique Items", "Average Price", "Total Purchases", "Total Revenue"]]

purchasing_analysis

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     183         $3.05              780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
pymoli_dedup = pymoli_df.drop_duplicates(subset='SN', keep="first")
total_gender = pymoli_dedup["Gender"].count()
male_count = pymoli_dedup["Gender"].value_counts()['Male']
female_count = pymoli_dedup["Gender"].value_counts()['Female']
nondisc = total_gender - male_count - female_count

male_percentage = (male_count / total_gender) * 100
female_percentage = (female_count / total_gender) * 100
nondisc_percentage = (nondisc / total_gender) * 100

gender_demographics = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                                    "Total Count": [male_count, female_count, nondisc],
                                    "Percentage of Players": [male_percentage, female_percentage, nondisc_percentage]
                                   })

gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)
gender_demographics = gender_demographics.set_index('')
gender_demographics

                     Total Count Percentage of Players

Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:

grouped_by_gender = pymoli_df.groupby(["Gender"])

total_purchases = grouped_by_gender["SN"].count()
average_purchase_price = grouped_by_gender["Price"].mean()
total_purchase_value = grouped_by_gender["Price"].sum()

grouped_by_gender_dedup = pymoli_dedup.groupby(["Gender"])

total_purchases_dedup = grouped_by_gender_dedup["SN"].count()

average_total_price = total_purchase_value / total_purchases_dedup

# Create new DataFrame
purchasing_gender = pd.DataFrame({"Purchase Count": total_purchases,
                              "Average Purchase Price": average_purchase_price,
                              "Total Purchase Value": total_purchase_value,
                              "Avg Total Purchase per Person": average_total_price})

# DataFrame formatting
purchasing_gender["Average Purchase Price"] = purchasing_gender["Average Purchase Price"].map("${:.2f}".format)
purchasing_gender["Total Purchase Value"] = purchasing_gender["Total Purchase Value"].map("${:.2f}".format)
purchasing_gender["Avg Total Purchase per Person"] = purchasing_gender["Avg Total Purchase per Person"].map("${:.2f}".format)
purchasing_gender = purchasing_gender[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]
purchasing_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0,10,15,20,25,30,35,40,200]
binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# Add bins to new dataframe and groupby
binning_df = pymoli_df.copy()
binning_df["Age Groups"] = pd.cut(binning_df["Age"], bins, labels=binLab)
binColumn = pd.cut(binning_df["Age"], bins, labels=binLab)
grouped_bin = binning_df.groupby(["Age Groups"])

# Data Manipulation
binPCount = grouped_bin["Age"].count()

binPCount

Age Groups
Under 10     32
10 - 14      54
15 - 19     200
20 - 24     325
25 - 29      77
30 - 34      52
35 - 39      33
Over 40       7
Name: Age, dtype: int64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
bins = [0,10,15,20,25,30,35,40,200]
binLab = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']

# 2-creating rename dictionary for output df
pa_renames = {
    'Purchase ID' : 'Purchase Count',
    'Price' : 'Average Purchase Price',
}

# 3-creating copy of purchase_data DF with significant columns
pa_df = pymoli_df[['Age','Purchase ID', 'Price',]].rename(columns=grouped_by_gender)

# 4-creating Age Bins column
pa_df['Age Bins'] = pd.cut(pa_df['Age'], age_bins,labels=age_bin_labels)

# 4-generated TPV as copy of APP (did not formatt due to unknown currency)
pa_df['Total Purchase Value'] = pa_df['Average Purchase Price']


# 5-grouping by Age Bins and performing aggregates
pa_df = pa_df.groupby('Age Bins').agg({
    'Purchase Count' : 'count',
    'Average Purchase Price' : 'mean',
    'Total Purchase Value' : 'sum'
})

# 6-formatted APP with rounding (couldn't find a way to do it in the .agg)
pa_df['Average Purchase Price'] = round(pa_df['Average Purchase Price'],2)

# 7-Creating Age Bin Player count by unique SN values
ads_df = pymoli_df
ads_df['Age Bins'] = pd.cut(ads_df['Age'], age_bins, labels=age_bin_labels)
ads_df = pd.DataFrame(pymoli_df.groupby('Age Bins')['SN'].nunique()).rename(columns={"SN": 'Player Count'})

# 8-generated ATPpP via unique SN values (price values not formatted due to unknown currency)
pa_df['Avg Total Purchase per Person'] = round(pa_df['Total Purchase Value']/ads_df['Player Count'], 2)



pa_df

ValueError: cannot copy sequence with size 113 to array axis with dimension 7

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80